!!!
%html
  %head
    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster', :rel => 'stylesheet', :type => 'text/css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/fonts/stylesheet.css' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %title
      duien.com
      &#9679; admin
  %body.admin
    .clipper
      #header
        #title
          .pagination.previous &nbsp;
          %h1
            %span.site duien•com
            &#9679;
            %a{ :href => '/admin' } admin
          .pagination.next &nbsp;
    #main
      .clipper
        .top
      = yield
    #footer
      .content
        %p
          Created by Emily Price with
          = succeed ',' do
            %a{ :href => 'http://www.ruby-lang.org/' } Ruby
          = succeed ',' do
            %a{ :href => 'http://www.sinatrarb.com/' } Sinatra
          and
          %a{ :href => 'http://www.mongodb.org/' } MongoDB

