@import 'grid'
@import 'round'

=shadow($color)
  -moz-box-shadow: 0 0 5px $color
  -webkit-box-shadow: 0 0 5px $color
  box-shadow: 0 0 5px $color

$everything: #b3b3b3
$blog: #94b919
$twitter: #34ccff
$delicious: #2d6abe
$flickr: #fc1c84
$reader: #fb8417
$main: #eeeeee

/* FONTS */
$sans: sans-serif
$serif: serif
$mono: 'Anonymous Pro', monospace
$title: Lobster, $sans

address, blockquote, body, center, dir, div, dl, fieldset, form, h1, h2, h3, h4, h5, h6, hr, isindex, menu, noframes, noscript, ol, p, pre, table, ul
  margin: 0
  padding: 0

.clear
  clear: both

.clipper
  overflow: hidden

blockquote
  padding-left: 10px
  border-left: 10px solid $main

.dot
  font-size: 120%

body
  background: $main
  &.everything #header
    color: $everything
    text-decoration: none
  &.blog #header, &.blog #header a
    color: $blog
    text-decoration: none
  &.twitter #header, &.twitter #header a
    color: $twitter
    text-decoration: none
  &.delicious #header, &.delicious #header a
    color: $delicious
    text-decoration: none
  &.flickr #header, &.flickr #header a
    color: $flickr
    text-decoration: none
  &.reader #header, &.reader #header a
    color: $reader
    text-decoration: none
      

#header
  +row
  +shadow(darken($main, 10%))
  +round_bottom(5px)
  background: mix($main, white)
  margin-bottom: 10px
  font-family: $title
  text-align: center
  h1
    +column
    +grid_12
    padding-top: 20px
    padding-bottom: 20px
    span.site
      color: black
    a:hover
      border-bottom: 3px solid
#navigation
  +row
  +shadow(darken($main, 10%))
  background: mix($main, white)
  font-family: $sans
  margin-top: 10px
  +round_top(5px)
  overflow: hidden
  ul
    li
      +column
      +grid_2
      overflow: visible
      a
        display: block
        text-decoration: none
        text-align: center
        margin: 0 -10px
        padding: 5px 10px
        color: white
        font-size: 120%
        font-weight: bold
        border-top: 5px solid $everything
        border-bottom: 5px solid $everything
        line-height: 40px
        &:hover
          background: white
          font-family: $title
          font-weight: normal
          font-size: 140%
      &.main a
        background: $everything
        border-color: $everything
        &:hover
          color: $everything
          background: lighten($everything, 27%) 
      &.blog a
        background: $blog
        border-color: $blog
        &:hover
          color: $blog
          background: lighten($blog, 35%)
      &.twitter a
        background: $twitter
        border-color: $twitter
        &:hover
          color: $twitter
          background: lighten($twitter, 35%)
      &.delicious a
        background: $delicious
        border-color: $delicious
        &:hover
          color: $delicious
          background: lighten($delicious, 45%)
      &.flickr a
        background: $flickr
        border-color: $flickr
        &:hover
          color: $flickr
          background: lighten($flickr, 40%)
      &.reader a
        background: $reader
        border-color: $reader
        &:hover
          color: $reader
          background: lighten($reader, 40%)

#main
  .top
    +row
    +round_top(5px)
    +shadow(darken($main, 10%))
    min-height: 20px
    margin-top: 10px
    background: mix($main, white)
  .item
    .banner
      font-family: $sans
      .title
        +row
        padding-top: 10px
        padding-bottom: 5px
        h2
          +column
          +grid_12
      .metadata
        +row
        font-size: 80%
        font-family: $sans
        padding-bottom: 10px 
        .meta
          +column
          +grid_6
          span.date
            color: black
          a
            color: black
            &:visited
              color: black
        .tags
          +column
          +grid_6
          text-align: right
          span.tag
            color: black
    .body
      +row
      +shadow(darken($main, 10%))
      min-height: 20px
      background: mix($main, white)
      .content
        +column
        +grid_12
        padding-top: 10px
        padding-bottom: 30px
        font-family: $serif
    &.post
      .banner
        background: $blog
        .title, .metadata
          background: mix($blog, white)
          +shadow(darken($blog, 10%))
      .meta, .tags
        color: $blog
      .body
    &.tweet
      .banner
        background: $twitter
        .title, .metadata
          background: mix($twitter, white)
          +shadow(darken($twitter, 10%))
      .meta, .tags
        color: $twitter
    &.bookmark
      .banner
        background: $delicious
        .title, .metadata
          background: mix($delicious, white)
          +shadow(darken($delicious, 10%))
      .meta, .tags
        color: $delicious
    &.photo
      .banner
        background: $flickr
        .title, .metadata
          background: mix($flickr, white)
          +shadow(darken($flickr, 10%))
      .meta, .tags
        color: $flickr
      .body
        img
          float: left
          margin-right: 10px
    &.share
      .banner
        background: $reader
        .title, .metadata
          background: mix($reader, white)
          +shadow(darken($reader, 10%))
      .meta
        color: $reader
      .body
        .comment
          margin: 10px
          padding: 10px
          background: mix($reader, white)
    &:last-child > .clipper > .body
      +round_bottom(5px)
      margin-bottom: 20px
#footer
  +row
  +round_top(5px)
  +shadow(darken($main, 10%))
  background: mix($main, white)
  padding-top: 10px
  padding-bottom: 10px
  font-family: $sans
  font-size: 80%
  .content
    +column
    +grid_12

        

